/* This CSS page contains all the imperative styling for Login(login.php), Registration(registration.php) Page and all Job Advertisements Related Pages */

@font-face {
    font-family: 'Darry';
    src: url(../fonts/Darrylene-TT.ttf);
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sub';
    src: url(../fonts/Subversia-Regular.ttf);
    font-style: normal;
    font-display: block;
}

@font-face{
    font-family: 'Qarte';
    src: url(../fonts/Qartella-Bold.ttf);
    font-style: normal;
    font-display: block;
}

@font-face{
    font-family: 'Qart';
    src: url(../fonts/Qartella-Regular.ttf);
    font-style: normal;
    font-display: block;
}

                                    /* Main Theme Colours */
:root {
    --lightblue: #3CBCC3;
    --white: #F7F4E9;
    --red: #E40C2B;
    --blue: #1D1D2C;
    --green: #438945;
    --yellow: #EBA63F; 
}

.message img{
    width: 250px;
}

.message h3{
    font-size: 22px;
}

.message p{
    font-size: 18px;
}

.already a{
    text-decoration: none;
    color: #F79F1F;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn {
    padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}


.reg-col a{
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
}


.form-group.success input {
	border-color: #2ecc71;
}

.form-group i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-group.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

                                        /* Login Page Styling */

    #login{
        max-width: 380px;
        margin: 30px auto;
        color: white;
    }

    #login label{
        font-family: 'Qarte';
        font-size: 14px;
    }

    .incorrect{
        font-size: 10px;
        color: red;
    }

    #login a{
        text-decoration: none;
        color: #F79F1F;
    }

    #login input{
        font-family: 'Qart';
        margin-top: 6px;
        margin-bottom: 8px;
    }
    
    .banner1{
        margin-top: 60px;
    }

    .banner2{
        margin-top: 15px;
    }
    
    .title{
        font-size: 16px;
        margin: 20px 0px;
        margin-left: 0px;
    }

    #login-page{
        background-color: #14213d;
    }
                                        
                                    /* User Registration Page */
  

.reg-container{
    height: 100vh;
    color: white;
    font-family: 'Qart';
}

.title1{
    font-family: 'Darry';
    margin-bottom: 29px;
}

.reg-container .row{
    padding-right: 0;
    padding-left: 0;
}

.form-check{
    margin-top: 9px;
}

#employer, #seeker {
    padding: 120px 40px;
    background-color: #27343E;
}

#employer-info, #seeker-info{
    padding: 80px 0px;
    background-color: #F79F1F;
    color:#030303;
}

.register-form label{
    margin-bottom: 8px;
}

.sign-up{
    margin: 10px;
}


/* .log-emp, .app-img{

} */

.line{
    padding-top: 10px;
    padding-bottom: 12px;
}

.log-emp img, .app-img img{
    width: 100%;
    max-width: 386px;
}

.form-group p{
    color: #F79F1F;
    font-size: 12.5px;
}

#fname_error, #name_error, #pwd_error1, #pwd_error2, #mail_error2, #lname_error, #num_error, #bsn_error, #mail_error, #con_error1, #con_error2, #num_error1{
    margin-bottom: 6.5px;
}

/* Job Search */

#job_bg{
    background-image: url(../images/job_bg.jpg);
    background-color: #8aaece;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

