/* This CSS page contains all the imperative styling for Home Page, About Us and Contact Us Page */



.intro-image img{
    width: 730px;
    max-height: 590px;
}

.intro{
    background-color: red;
}

