                                    /* Main Theme Colours */

:root {
    --lightblue: #3CBCC3;
    --white: #F7F4E9;
    --red: #E40C2B;
    --blue: #1D1D2C;
    --green: #438945;
    --yellow: #EBA63F; 
}

                                    /* Sidebar Navigation */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #1D1D2C;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color: #f7f9fb;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.sidebar .links_name{
    opacity: 0;
}

.sidebar.active .links_name{
    opacity: 1;
    
}

.nav_list{
    padding: 0;
}

.nav_list li{
    margin: 0;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #sideBtn{
    position: absolute;
    color: #f7f9fb;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #sideBtn{
    left: 90%;
}


.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height:  50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #f7f9fb;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #1D1D2C;
    background: #f7f9fb;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

#log_out{
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
}

